<%- include('hub/top'); -%>

<!-- Navbar -->
<%- include('hub/nav'); -%>

<!-- left side bar component  -->
<%- include('hub/sidebar'); -%>

<div class="container">
  <div class="row my-2">
    <div class="col-lg-8 order-lg-2">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a
            href=""
            data-target="#edit"
            data-toggle="tab"
            class="nav-link active"
            >Add User</a
          >
        </li>
      </ul>
      <div class="tab-content py-4">
        <div class="tab-pane active" id="edit">
          <form
            action="/admin/editUser/<%= foundUser._id %>"
            method="POST"
            enctype="multipart/form-data"
          >
            <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label"
                >Full Name</label
              >
              <div class="col-lg-9">
                <input
                  class="form-control"
                  type="text"
                  value="<%= foundUser.fullName %>"
                  name="fullName"
                />
              </div>
            </div>
            <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label"
                >Email</label
              >
              <div class="col-lg-9">
                <input
                  class="form-control"
                  type="email"
                  value="<%= foundUser.email %>"
                  name="email"
                />
              </div>
            </div>

            <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label"
                >Password</label
              >
              <div class="col-lg-9">
                <input
                  class="form-control"
                  type="password"
                  value="<%= foundUser.password %>"
                  name="password"
                />
              </div>
            </div>

            <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label"
                >User Photo</label
              >
              <div class="col-lg-9">
                <input type="file" class="form-control" name="UserImage" />
              </div>
            </div>

            <!-- user role  -->
            <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label"
                >User Role</label
              >
              <div class="col-lg-9">
                <select
                  id="user_time_zone"
                  class="form-control"
                  size="0"
                  class="form-control"
                  name="role"
                >
                  <option value="<%= foundUser.role %>"
                    ><%= foundUser.role === 'super' ? 'Super Administrator' :
                    'Administrator'; %></option
                  >
                  <option value="admin">Administrator</option>
                  <option value="super">Super Administrator</option>
                </select>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label"
                >Status</label
              >
              <div class="col-lg-9">
                <select
                  id="user_time_zone"
                  class="form-control"
                  size="0"
                  class="form-control"
                  name="status"
                >
                  <option value="<%= foundUser.status %>"
                    ><%= foundUser.status %></option
                  >
                  <option value="active">Active</option>
                  <option value="not-active">Not Active</option>
                </select>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label"></label>
              <div class="col-lg-5">
                <!-- <input type="reset" class="btn btn-secondary" value="Cancel"> -->
                <input
                  type="submit"
                  class="btn btn-success btn-lg"
                  value="Save Changes"
                />
              </div>

              <div class="col-lg-4">
                <a
                  href="/admin/user/<%= foundUser._id %>"
                  class="btn btn-danger btn-lg"
                  style="float: right;"
                >
                  Delete
                </a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-lg-4 order-lg-1 text-center">
      <% if(foundUser.image == ''){ %>
      <img
        src="//placehold.it/150"
        class="mx-auto img-fluid img-circle d-block"
        alt="avatar"
      />
      <h6 class="mt-2">Upload a different photo</h6>
      <% }else{ %>
      <img
        src="/images/users/<%= foundUser.image %>"
        class="mx-auto img-fluid img-circle d-block"
        alt="avatar"
      />
      <% } %>
    </div>
  </div>
</div>

<!-- Bottom component -->
<%- include('hub/bottom'); -%>
