<%- include('hub/top'); -%>

<!-- Navbar -->
<%- include('hub/nav'); -%>

<!-- left side bar component  -->
<%- include('hub/sidebar'); -%>

<br /><br />

<div class="row my-2">
  <div class="col-lg-8 order-lg-2">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a href="" data-target="#edit" data-toggle="tab" class="nav-link active"
          >Edit Officer</a
        >
      </li>
    </ul>
    <div class="tab-content py-4">
      <div class="tab-pane active" id="edit">
        <form
          action="/admin/editOfficer/<%= officer._id %>"
          method="post"
          enctype="multipart/form-data"
        >
          <div class="form-group row">
            <label class="col-lg-3 col-form-label form-control-label"
              >First name</label
            >
            <div class="col-lg-9">
              <input
                class="form-control"
                type="text"
                value="<%= officer.firstName %>"
                name="firstName"
              />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-lg-3 col-form-label form-control-label"
              >Middle name</label
            >
            <div class="col-lg-9">
              <input
                class="form-control"
                type="text"
                value="<%= officer.middleName %>"
                name="middleName"
              />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-lg-3 col-form-label form-control-label"
              >Last name</label
            >
            <div class="col-lg-9">
              <input
                class="form-control"
                type="text"
                value="<%= officer.lastName %>"
                name="lastName"
              />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-lg-3 col-form-label form-control-label"
              >Email</label
            >
            <div class="col-lg-9">
              <input
                class="form-control"
                type="email"
                value="<%= officer.email %>"
                name="email"
              />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-lg-3 col-form-label form-control-label"
              >Phone Number</label
            >
            <div class="col-lg-9">
              <input
                class="form-control"
                type="number"
                value="<%= officer.phone %>"
                name="phone"
              />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-lg-3 col-form-label form-control-label"
              >Phone Number 2</label
            >
            <div class="col-lg-9">
              <input
                class="form-control"
                type="number"
                value="<%= officer.phone1 %>"
                name="phone1"
              />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-lg-3 col-form-label form-control-label">
              Gender</label
            >
            <div class="col-lg-9">
              <select name="gender" id="" class="form-control">
                <option value="<%= officer.gender %>"
                  ><%= officer.gender %></option
                >
                <option value="male">Male</option>
                <option value="female">Female</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-lg-3 col-form-label form-control-label"
              >Officer ID#</label
            >
            <div class="col-lg-9">
              <input
                class="form-control"
                type="text"
                name="id"
                value="<%= officer.id %>"
                required
              />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-lg-3 col-form-label form-control-label"
              >Officer Photo</label
            >
            <div class="col-lg-9">
              <input type="file" class="form-control" name="officerImage" />
            </div>
          </div>

          <div class="form-group row">
            <label class="col-lg-3 col-form-label form-control-label"
              >Select Educational Level</label
            >
            <div class="col-lg-9">
              <select
                id="user_time_zone"
                class="form-control"
                size="0"
                class="form-control"
                name="education"
              >
              <option value="<%= officer.assignment %>"
                ><%= officer.education %></option
              >
                <option value="High School DropOut">High School DropOut</option>
                <option value="High School Graduate">High School Graduate</option>
                <option value="College DropOut">College DropOut</option>
                <option value="College Student">College Student</option>
                <option value="College Graduate">College Graduate</option>
                <option value="Master Degree">Master Degree</option>
                <option value="Dr. Degree">Dr. Degree</option>
              </select>
              </div>
          </div>
          <div class="form-group row">
            <label class="col-lg-3 col-form-label form-control-label"
              >County of Assignment</label
            >
            <div class="col-lg-9">
              <select
                id="user_time_zone"
                class="form-control"
                size="0"
                class="form-control"
                name="assignment"
              >
                <option value="<%= officer.assignment %>"
                  ><%= officer.assignment %></option
                >
                <option value="Bomi">Bomi</option>
                <option value="Bong">Bong</option>
                <option value="Gbarpolu">Gbarpolu</option>
                <option value="Grand Bassa">Grand Bassa</option>
                <option value="Grand Cape Mount">Grand Cape Mount</option>
                <option value="Grand Gedeh">Grand Gedeh</option>
                <option value="Grand Kru">Grand Kru</option>
                <option value="Lofa">Lofa</option>
                <option value="Margibi">Margibi</option>
                <option value="Maryland">Maryland</option>
                <option value="Montserrado">Montserrado</option>
                <option value="Nimba">Nimba</option>
                <option value="Rivercess">Rivercess</option>
                <option value="River Gee">River Gee</option>
                <option value="Sinoe">Sinoe</option>
              </select>
            </div>
          </div>
          <!-- <div class="form-group row">
		                            <label class="col-lg-3 col-form-label form-control-label">Officer Photo</label>
		                            <div class="col-lg-9">
		                                <input class="form-control" type="file" name="image"  >
		                            </div>
		                        </div> -->
          <div class="form-group row">
            <label class="col-lg-3 col-form-label form-control-label"
              >Department</label
            >
            <div class="col-lg-9">
              <input
                class="form-control"
                type="text"
                name="department"
                value="<%= officer.department %>"
                required
              />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-lg-3 col-form-label form-control-label"
              >Office</label
            >
            <div class="col-lg-9">
              <input
                class="form-control"
                type="text"
                name="office"
                value="<%= officer.lastName %>"
                required
              />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-lg-3 col-form-label form-control-label"
              >Position</label
            >
            <div class="col-lg-9">
              <select name="position" class="form-control">
                <option value="<%= officer.position %>"
                  ><%= officer.position %></option
                >
                <% positions.forEach(pos => { %>
                <option value="<%= pos.title %>"><%= pos.title %></option>
                <% }); %>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-lg-3 col-form-label form-control-label"
              >Division</label
            >
            <div class="col-lg-9">
              <select name="division" class="form-control">
                <option value="<%= officer.division %>"
                  ><%= officer.division %></option
                >
                <% divisions.forEach(div => { %>
                <option value="<%= div.title %>"><%= div.title %></option>
                <% }); %>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-lg-3 col-form-label form-control-label"
              >Section</label
            >
            <div class="col-lg-9">
              <input
                class="form-control"
                type="text"
                name="section"
                value="<%= officer.section %>"
                required
              />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-lg-3 col-form-label form-control-label"
              >Status</label
            >
            <div class="col-lg-9">
              <select
                id="user_time_zone"
                class="form-control"
                size="0"
                class="form-control"
                name="status"
              >
                <option value="<%= officer.status %>"
                  ><%= officer.status %></option
                >
                <option value="active">Active</option>
                <option value="not-active">Not Active</option>
              </select>
            </div>
          </div>
          <% if(user.role === 'admin') { %>
          <div class="form-group row">
            <label class="col-lg-3 col-form-label form-control-label"></label>
            <div class="col-lg-5 col-xl-5">
              <!-- <input type="reset" class="btn btn-secondary" value="Cancel"> -->
              <input
                type="submit"
                class="btn btn-success btn-lg"
                value="Save Changes"
                style="float: left;"
              />
            </div>

            <div class="col-lg-4 col-xs-4">
              <a
                href="/admin/deleteOfficer/<%= officer._id %>"
                class="btn btn-danger btn-lg"
                style="float: right;"
              >
                Delete
              </a>
            </div>
          </div>
          <% } %>
        </form>
      </div>
    </div>
  </div>
  <div class="col-lg-4 order-lg-1 text-center">
    <% if(officer.image == ''){ %>
    <img
      src="//placehold.it/150"
      class="mx-auto img-fluid img-circle d-block"
      alt="avatar"
    />
    <h6 class="mt-2">Upload a different photo</h6>
    <% }else{ %>
    <img
      src="/images/officers/<%= officer.image %>"
      class="mx-auto img-fluid img-circle d-block"
      alt="avatar"
    />
    <% } %>
  </div>
</div>

<!-- Bottom component -->
<%- include('hub/bottom'); -%>
