<%- include('hub/top'); -%>

<!-- Navbar -->
<%- include('hub/nav'); -%>

<!-- left side bar component  -->
<%- include('hub/sidebar'); -%>
<style type="text/css">
  #map {
    width: 100%;
    height: 600px;
  }
</style>
<br />

<div class="card">
  <h1 class="card-title display-2 text-center">
    Author: <%= comment.fullName %> | Phone Number <%= comment.number %> | <%=
    comment.latitude %> | <%= comment.longitude %>
  </h1>
  <% //}); %>
  <div class="card-body">
    <div id="map"></div>
  </div>
</div>

<script>
  function initMap() {

      var options = {
        zoom:18,
        center:{
          lat: <%= comment.latitude %>,
          lng:<%= comment.longitude %>,
        }
      }

      // New map
      var map = new google.maps.Map(document.getElementById('map'), options);

      // Listen for click on map
      google.maps.event.addListener(map, 'click', function(event){
        // Add marker
        addMarker({coords:event.latLng});
      });


      // Add marker
      var marker = new google.maps.Marker({
        position:{
          lat: <%= comment.latitude %>,
          lng:<%= comment.longitude %>
        },
        map:map,
        // icon:'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png'
      });

      var infoWindow = new google.maps.InfoWindow({
        content:'<h2 style=\'text-align: center\'><%= comment.fullName %></h2> <p style=\'font-weight: bold\'> <%= comment.content %></p>'
      });

      marker.addListener('click', function(){
        infoWindow.open(map, marker);
      });






  }
</script>
<script
  async
  defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyClE7RtHQ-zWz_qNaWZ8stMI7cpDAahyM8&callback=initMap"
></script>
<!-- Bottom component -->
<%- include('hub/bottom'); -%>
