<%- include('hub/top'); -%>


<div class="container">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6 " style="padding-top: 400px;">
        <div class="card" style="width: 100%;">
            <img class="card-img-top" src="images/officers/<%= officer.image %>" alt='<%= officer.image %>'>
            <div class="card-body">
              <!-- <h5 class="card-title">Card title</h5> -->
              <p class="card-text" style="float: left;">ID#: <%= officer.id %></p> <a href="/" class="btn btn-primary" style="float: right;"> Go Home</a>
            </div>
            <form action="/newComment" method="POST" enctype="multipart/form-data" >
              <input type="hidden" name="type" value="Complain">
              <input type="hidden" name="officerId" value="<%= officer.id %>">
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><input type="text" name="fullName" id="" class="form-control" placeholder="Eg: John Flomo"></li>
                <li class="list-group-item"><input type="email" name="email" id="" class="form-control" placeholder="Eg: jflomo@gmail.com"></li>
                <li class="list-group-item"><input type="text" name="number" id="" class="form-control" placeholder="0880000000"></li>
                <li class="list-group-item"><select name="county" id="" class="form-control">
                    <option value="">Select County</option>
                    <option value="Bomi">Bomi</option>
                    <option value="Bong">Bong</option>
                    <option value="Gbarpolu">Gbarpolu</option>
                    <option value="Grand Bassa">Grand Bassa</option>
                    <option value="Grand Cape Mount">Grand Cape Mount</option>
                    <option value="Grand Gedeh">Grand Gedeh</option>
                    <option value="Grand Kru">Grand Kru</option>
                    <option value="Lofa">Lofa</option>
                    <option value="Margibi">Margibi</option>
                    <option value="Maryland">Maryland</option>
                    <option value="Montserrado">Montserrado</option>
                    <option value="Nimba">Nimba</option>
                    <option value="Rivercess">Rivercess</option>
                    <option value="River Gee">River Gee</option>
                    <option value="Sinoe">Sinoe</option>
                </select> </li>
                <li class="list-group-item"><textarea name="content" id="" cols="20" rows="10" class="form-control"></textarea></li>
              </ul>
              <div class="card-body">
                <input type="submit" class="card-link btn btn-danger" style="float: right;" value="Send">
              </div>
            </form>
            
          </div>
    </div>
    <div class="col-sm-3"></div>
    </div>
</div>


<%- include('hub/bottom'); -%>